<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">
    <div id="profile">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <input type="hidden" id="userId" value="{{ user._id }}">
                    <p>
                        <strong>id</strong>: {{ user._id }}<br>
                        <strong>email</strong>: {{ user.local.email }}<br>
                    </p>

            </div>
        </div>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>id</strong>: {{  user.google.id }}<br>
                        <strong>token</strong>: {{  user.google.token }}<br>
                        <strong>email</strong>: {{  user.google.email }}<br>
                        <strong>name</strong>: {{  user.google.name }}
                    </p>

            </div>
        </div>
        <!-- TWITTER INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <strong>id</strong>: {{ user.twitter.id }}<br>
                        <strong>token</strong>: {{ user.twitter.token }}<br>
                        <strong>username</strong>: {{ user.twitter.username }}<br>
                        <strong>displayName</strong>: {{ user.twitter.displayName }}
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
            <h1>Join Race</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Race in progress</th>
                        <th>Nr. of checkpoints</th>
                        <th>Nr. of participants</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody id="notMeRaces">
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h1>Joinend Races</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Race in progress</th>
                        <th>Nr. of checkpoints</th>
                        <th>Nr. of participants</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody id="meRaces">
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" id="raceLocations">
        <h1 class="floatLeft">Play Race</h1>
        <input type="hidden" id="raceId" value="">
        <a href="#" id="backBtn" class="btn btn-default btn-sm floatRight top25">Back</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody id="raceDetails">
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/public_races.js"></script>